@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

.navbar {
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin: 0 auto;
  padding: 15px 200px 15px 200px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.81) 7.29%, #000000 100%);
  color: white;
}

.navbar h1 {
  font-size: 48px;
}

.navbar .links {
  margin-left: auto;
  font-size: 24px;
}

.navbar .links.home {
  grid-column: 3 / 4;
}

.navbar .links.nom {
  grid-column: 4 / 5;
}

.home {
  text-align: center;
}

.home h2 {
  font-size: 48px;
  margin: 10px;
  padding: 10px;
}

.search input {
  padding: 24px 24px;
  margin: 10px 0;
  border: 1px solid #ddd;
  font-size: 20px;
  background-color: #f2f4f8;
  border-radius: 12px;
  margin-right: 16px;
}

.search input::placeholder {
  color: black;
  opacity: 1;
  /* Firefox */
}

.search input:focus {
  border: 2px solid black;
  outline: none;
}

.search button {
  font-size: 20px;
  padding: 24px 24px;
  border-radius: 12px;
  border-width: 0px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.search button:hover {
  background-color: #000000dc;
}

.card-list {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 15px;
}

.card {
  list-style-type: none;
  max-width: 300px;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.2);
  cursor: pointer;
}

.card img {
  max-width: 296px;
  border-radius: 10px 10px 0px 0px;
  padding: 2px;
  display: table-cell;
}

.card h3, p {
  max-width: fit-content;
  text-align: left;
  padding: 5px;
}