@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

.navbar {
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  margin: 0 auto;
  padding: 15px 200px 15px 200px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.81) 7.29%, #000000 100%);
  color: white;
}

.navbar h1 {
  font-size: 48px;
}

.navbar .links {
  margin-left: auto;
  font-size: 24px;
}

.navbar .links.home {
  grid-column: 3 / 4;
}

.navbar .links.nom {
  grid-column: 4 / 5;
}
